
@using finalYearProject.Models
@model Registration
@{
   var uname= ViewBag.uname;
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<section class="mainpart">
    <div class="container">
        <div class="col-lg-8 m-auto d-block card p-5 decorate">
            <br />
            <h1 class="text-center"></h1>
            <br />
            <div asp-validation-summary="All"></div>
            <form class="add" method="post" asp-action="AddUser" asp-route-uname="@uname">
                <h1 style="text-align:center">Add New User</h1>
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="firstname">First Name</label>
                    <input class="form-control" asp-for="firstname" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label asp-for="lastname">Last Name</label>
                    <input class="form-control" asp-for="lastname" aria-describedby="emailHelp">
                </div>

                <div class="form-group">
                    <label asp-for="email">Email Address</label>
                    <input class="form-control" asp-for="email" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label asp-for="password">Password</label>
                    <input asp-for="password" class="form-control">
                </div>

                <div class="form-group">
                    <label asp-for="confirmPassword">Confirm Password</label>
                    <input asp-for="confirmPassword" class="form-control">
                </div>
                <button type="submit" class="btn btn-success" style="margin-top:10px">Add User</button>
            </form>
        </div>
    </div>
</section>



