@{
    var uname = ViewBag.uname;
    ViewBag.uname = uname;
    Layout = "~/Views/Shared/_LayoutCustomerApp.cshtml";
}

<style>

    .add {
    
    }

    .background {
        background-image: url('/images/21.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh auto;
        width: 100%;
    }
</style>

    <p><h1 style="text-align:center">Welcome to About page</h1></p>
    <br />
    <p><h2 style="text-align:left; margin-left:200px;margin-right:100px">Online Restaurant and Cafeteria Management System provides the facility to the users to order online from both Cafeteria and Restaurant.</h2></p>
    <br />
    <p><h2 style="text-align:left; margin-left:200px;margin-right:100px">
    We are providing you with Cafeteria and Restaurant Management System. As University Students get
    less time for break especially PUCIT Students so this app will give you benefit that before your break
    you can order from any Cafeteria and the respective cafe Admin will give pick up time
</h2></p>
    <br />
    <p><h2 style="text-align:left; margin-left:200px;margin-right:100px">
    Thats how students
    time will be saved they only go to Cafeteria to Pick their food but not wait for the preparation of food.
    This is only one site we are aslo providing local Restaurants so that if Students dont like
    Cafeteria food they can order from Restaurants. Restaurants will also give Students pick up time of food.
</h2></p>
    <br />
    <p><h2 style="text-align:left; margin-left:200px;margin-right:100px">User can contact to administration and tell them their problems very easily .</h2></p>
    <br />
  