@{
    var uname = ViewBag.uname;
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="background">
    <div class="container">
        <h1 class="text-white text-lg-center pt-5" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"> CAFETERIA MANAGEMENT SYSTEM  </h1>
        <div class=" row" style=" margin-top:80px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
            <h2 class="text-white text-lg-center">The Quality Food! </h2>
            <h4 class="text-white text-lg-center"> We deliver Quality And We're doing this for years! </h4>
            <h4 class="text-white text-lg-center"> Try us and then buy us! </h4>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //Check if the current URL contains '#'
        if (document.URL.indexOf("#") == -1) {
            // Set the URL to whatever it was plus "#".
            url = document.URL + "#";
            location = "#";

            //Reload the page
            location.reload(true);
        }
    });
</script>